#nav {
    background-color: #7695DD;
    text-align: center;
    color: white;
    min-width: 200px;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    
}
#leave{
    font-size: 400%;
}
#cont{
    margin-top: 3%;
    width: 30%;
    max-width: 700px;
    min-width: 300px;
    margin-left: 5%;
    padding-bottom: 1%;
}
#back{
    
    margin-right: auto;
}
input[type=button]{
    cursor: pointer;
    background-color: #7695DD;
    border-color: #7695DD;
}