
ul{
    list-style-type: none;
     margin: 5;
    padding: 0;
    
}

#staffadd{
  margin-top: 3%;
  float: left;
  margin-left: 2%;
  min-width: 500px;
}

#ele{
  overflow-x: auto;
}

#liststaff{
  width: 50%;
  min-width: 800px;
  margin: auto;
  overflow-y: scroll;
  height: 700px;
}

th {
  color: white;
  background-color: #7695DD;
  border-color: #7695DD;
}

table, td {
  border: 1px solid black;
}